.bird-topbar-etched {
  position: static !important;
  float: left !important;
  display: inline-block !important;
  padding: 0 20px !important;
}

.nav-extras {
  padding-right: 20px;
}

.global-nav-inner > .container {
  max-width: 100%;
}

.coins {
  height: 47px;
  display: flex;
  float: left;
}

.coin-progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 14px;
  margin-top: 17px;
  margin-right: 10px;
}

.coin-progress[value]::-webkit-progress-bar {
  background-color: #525252;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.coin-progress[value]::-webkit-progress-value {
  background-color: #2fa7eb;
  border-radius: 7px;
}

.coin-level {
  line-height: 47px;
  position: relative;
  left: -240px;
  color: #fff;
  font-size: 10pt;
  font-weight: bold;
}

.coin-values {
  position: relative;
  display: flex;
}

.coin-count {
  display: flex;
  color: #e6d117;
  padding-right: 10px;
}

.jewel-count {
  display: flex;
  color: #19b4e6;
  padding-right: 10px;
}

.count {
  display: block;
  line-height: 47px;
  font-weight: bold;
}

.coin-icon {
  padding-top: 15px;
  height: 20px;
  display: block;
  margin: 0 5px;
}

.jewel-icon {
  padding-top: 16px;
  height: 18px;
  display: block;
  margin: 0 5px;
}

.congrats {
  color: #414141;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.7);
}

.congrats-container {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  padding: 10px;
  margin: 0 auto;
  margin-top: 80px;
}
